// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.name-user-comment{
    font-weight: bold;
    margin-bottom:0px;
}
.comment-header{
    padding: .2rem 1.25rem;
}
.date-comment{
    font-style: italic;
    margin-bottom:0px;
}