// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.name-user-comment{
    font-weight: bold;
    margin-bottom:0px;
}
.comment-header{
    padding: .2rem 1.25rem;
}
.comment-card{
    margin-top: 5px;
    margin-bottom: 5px;
}
.date-comment{
    font-style: italic;
    margin-bottom:0px;
}
.publication-in-comment{
    margin-bottom: 15px;
}
.created-by{
    font-weight: bold;
    span{
        font-weight: lighter;
    }
}
.square{
    border-radius: 0;
}
.icon-options{
    margin-left:7px;
    margin-right:7px;
}